.gericht__aboutus {
    position: relative;
}
.gericht__aboutus-overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
}
.gericht__aboutus-content {
    z-index: 2;
}
.gericht__aboutus-content_about {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}
.gericht__aboutus-content_about p,
.gericht__aboutus-content_history p {
    color: var(--color-grey);
    margin: 2rem 0;
}
.gericht__aboutus-content_knife {
    margin: 2rem 4rem;
}
.gericht__aboutus-content_knife img {
    height: 910px;
}
.gericht__aboutus-content_history {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

@media screen and (max-width: 2000px) {
    .gericht__aboutus-content_knife img {
        height: 1110px;
    }
    .gericht__aboutus-content_about p,
    .gericht__aboutus-content_history p {
        color: var(--color-grey);
        margin: 4rem 0;
    }
}
@media screen and (max-width: 900px) {
    .gericht__aboutus-content {
        flex-direction: column;
    }
    .gericht__aboutus-content_knife {
        margin: 4rem 0;
    }
}
@media screen and (max-width: 650px) {
    .gericht__aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
}
