* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-body-bg);
  /* backdrop-filter: blur(5px); */
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient__logo {
  background: var(--gradient-logo-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 900;
  font-family: var(--font-family);
  letter-spacing: 0.1rem;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 2rem 6rem;
}
.section__margin {
  margin: 4rem 6rem;
}

.gradient__button {
  background: var(--gradient-button-secondary);
  color: var(--color-subtext);
  padding: 0.6rem 1.2rem;
  outline: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.1rem;
  min-width: 100px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient__button:hover {
  background: var(--gradient-button-secondary-hover);
}

.navbar__fixed {
  position: sticky;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.bg__white {
  background: linear-gradient(to bottom, #ccc, rgba(255, 255, 255, 0.06));
}
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.app__footer {
  content: "";
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0;
  background-image: url("./assets/images/background_img2.svg");
  background-size: cover;
  opacity: 0.05;
  z-index: -1;
  height: 40vh;
}

@media screen and (max-width: 992px) {
  .section__padding {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 768px) {
  .section__padding {
    padding: 2rem 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}
@media screen and (max-width: 550px) {
  .section__padding {
    padding: 2rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}

.btnClose {
  width: 25px;
}
